<section class="jumbotron position-relative jumbotron-fluid pt-14 pb-6 bg-blue">
  <%= image_tag 'decoration.png', class: 'decoration obj-position-center' %>
  <div class="container">
    <div class="row align-items-end row-gutter-2">
      <div class="col-md-8 text-white">
        <h1 class="m-0">Shop</h1>
        <nav aria-label="breadcrumbs">
        <ol class="breadcrumb text-white-50 m-0">
          <li class="breadcrumb-item"><%= link_to root_path, class: "underline text-white-50" do %><span>Home</span>
            <% end %></li>
          <li class="breadcrumb-item" aria-current="page"><span>Listing</span></li>
        </ol></nav>
      </div>
      <div class="col-md-4 text-md-right">
        <div role="group" class="btn-group btn-group-sm">
          <div class="dropdown btn-group" role="group">
            <button class="btn btn-outline-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true" type="button">Sort</button>
            <div role="menu" class="dropdown-menu shadow p-1_5">
              <a role="presentation" class="underline dropdown-item" href="#">What&#39;s new?</a>
              <a role="presentation" class="underline dropdown-item" href="#">Price high to low</a>
              <a role="presentation" class="underline dropdown-item" href="#">Price low to high</a></div>
          </div>
          <button class="btn btn-outline-light btn-block" type="button">Filter</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-10">
  <div class="container">


    <div class="row mb-4">
      <div class="col">
        <ul class="list-inline filters">
          <li>Size S,M <button class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>
        </ul>
      </div>
    </div>


    <div class="product-table row-gutter-2 row-gutter-lg-3 mb-4">
      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="card h-100">
          <a class="card-img img-hover">
            <%= image_tag "products/product-1.jpg", class: "card-img-top img-front" %>
            <%= image_tag "products/product-1-2.jpg", class: "position-absolute card-img-top img-back" %>
          </a>
          <div class="card-body mt-1">
            <div class="row no-gutters flex-nowrap align-items-start justify-content-between">
              <a class="flex-shrink-1"><h6 class="card-title">Fawn Wool / Natural Mammoth Chair</h6></a>
              <button class="btn border-0 text-primary btn-heart p-0 ">
                <%= far_icon 'heart', class: "ml-1 my-0_5" %>
                <%= fas_icon 'heart', class: "ml-1 my-0_5" %>
              </button>
            </div>
            <div class="card-text">
              <span class="text-truncate align-middle d-inline-block">$2,268</span>
              <span class="btn-cart">
                <button class="btn btn-link border-0 text-primary text-uppercase align-middle underline ml-1 p-0">Add to cart</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav class="d-inline-block">
          <ul class="pagination font-size-sm">
            <li class="page-item active"><a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item" aria-current="page"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item"><a class="page-link" href="#!">4</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>